@using DM_SHEET.Pages.Shared.Components.LoginMenu;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <script src="~/js/site.js" asp-append-version="true" defer></script>
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <header>

        <div id="logoContainer">
            <img src="img/DoD_logo_vit.png" alt="Logo">
        </div>

        <ul id="pageList">
            <li><a asp-page="/Djur-Jakt/Index">Djur/Jakt</a></li>
            <li><a asp-page="/Index">Strid</a></li>
            <li><a asp-page="/Encounters/Index">Encounters</a></li>
            <li><a asp-page="/Återhämtning/Index">Återhämtning</a></li>
            <li><a asp-page="/Utrustning/Index">Utrustning</a></li>
            <li><a asp-page="/Monsters/Index">Monster</a></li>
            <li><a asp-page="/SLP/Index">SLP</a></li>
            <li><a asp-page="/Karaktärer/Index">Karaktärer</a></li>
            <li><a asp-page="/Karta/Index">Karta</a></li>
        </ul>

    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>