@page
@model DM_SHEET.Pages.Karaktärer.IndexModel
@{
}
<link rel="stylesheet" href="~/css/site.css">

<body>
    <section>
        <article>

            <h2>Karaktärer</h2>

            <div class="karaktärer">
                <img class="karaktärerImg" src="~/img/Zundir.png" />

                <div class="beskrivning">
                    <h3>Zundir, Manlig Halv Minotaur</h3>

                    <p>Jobb: Wolfgangs Högerhand</p>
                    <p>Zundir Blixt är en stor, djupt röstande minotaur som bär på en tung krigshacka. Hans år på slagfältet har gett honom en stark känsla för både strukturell designoch psykologi. Han har alltid en karta över vilket område han än har varitutplacerad till, även om det är järnfästningen.</p>

                </div>
            </div>

            <div class="karaktärer">
                <img class="karaktärerImg" src="~/img/Dynamius.png" />

                <div class="beskrivning">
                    <h3>Dynamius Phelyp, Manlig Halv Aarakocra</h3>

                    <p>Jobb: Wolfangs Högerhand</p>
                    <p>Dynamius Phelyp är en muskulös halv fågel med ett svärd i varje hand och är lite undergiven till Zundir. Han är lite löjlig och dum.</p>

                </div>

            </div>

            <div class="karaktärer">
                <img class="karaktärerImg" src="~/img/Tyolf.png" />

                <div class="beskrivning">
                    <h3>Tyolf, Manlig Människa</h3>

                    <p>Jobb: Bonde</p>
                    <p>Tyolf Ringla är stor bonden för Tenebra, Equae och Dide. Bestämd Människa med grått hår och tanig kropp. Han har en specifik förtjusning i Drakwhiskey och bär en plunta som konstant är fylld med Drakwhiskey.</p>

                </div>

            </div>

            <div class="karaktärer">
                <img class="karaktärerImg" src="~/img/Perlan.png" />

                <div class="beskrivning">
                    <h3>Perlan Onkel, Kvinnlig Drakonit</h3>

                    <p>Jobb: Ägare av tavernan Fyra Katter</p>
                    <p>Perlan Onkel är en tjock alv med mycket kurvor. Perlan är inte så bra på att driva verksamheten och inte särskilt bra på att ta kritik. Om någon i sällskapet klagar på boendet kommer hon att kasta ut hela gruppen.</p>

                </div>

            </div>

            <div class="karaktärer">
                <img class="karaktärerImg" src="~/img/Simm.png" />

                <div class="beskrivning">
                    <h3>Simm Sonder, Manlig Människa</h3>

                    <p>Jobb: Iskorparna</p>
                    <p>Simm kommer från en lägre klassbakgrund i Sophera. Innan han gick med Iskorparna så försörjde han sig som småkriminell. Flera rymningar gav honom smeknamnet "Lucky".</p>

                </div>

            </div>

            <div class="karaktärer">
                <img class="karaktärerImg" src="~/img/Sewallus.png" />

                <div class="beskrivning">
                    <h3>Sewallus Sonder, Manlig Människa</h3>

                    <p>Jobb: Möbeldesigner</p>
                    <p>Sewallus Sonder är en helt vanlig gubbe med helikopterplatta och en liten kulmage och runda glasögon. Han är en bra far fast ända sen han blev av med arbetet som möbeldesigner för kungen när hanns son var 7år så har bristen på pengar fört hanns sin in i kriminalitet.</p>

                </div>

            </div>

            <div class="karaktärer">
                <img class="karaktärerImg" src="~/img/Wolfgang.png" />

                <div class="beskrivning">
                    <h3>Wolfgang Ett Öga, Manlig Halv Orch</h3>

                    <p>Jobb: Ledare för Iskorparna</p>
                    <p>Stor Orch med en ögonlapp över vänstra ögat och en stor svartmetal stridsyxa. Han är extremt ilsken och sårad över hur halvraser blir utnyttjade av människorna i Navita och har planer att utplånad varenda människa som inte lyder honom i hela Navita.</p>

                </div>

            </div>

            <div class="karaktärer">
                <img class="karaktärerImg" src="~/img/Kevin.png" />

                <div class="beskrivning">
                    <h3>Kevin Klepto, Manlig  Halv Drakonit</h3>

                    <p>Jobb: Bard/Rekryterare</p>
                    <p>Kevin Klepto är en halv drakonit som ser ut som en människa med långt svart hår som är i en fläta och hud som ser ut som drakfjäll. Han har konstig och försöker alltid sno saker från människor men alltid saker utan värde. Han är bard på tavernan Fyra Katter men även en rekryterare för Iskorparna.</p>

                </div>

            </div>

        </article>
    </section>
</body>