@page
@model DM_SHEET.Pages.Monsters.IndexModel
@{
}
<link rel="stylesheet" href="~/css/site.css">

<body>
    <section>
        <article id="monsterArticle">

            <div id="monster">
                <h2>Monster</h2>

                <label for="monsterSelect">Välj ett monster:</label>
                <select id="monsterSelect" onchange="changeImage()">
                    <option value="">-----</option>
                    <option value="img/Demon.png">Demon</option>
                    <option value="img/Drake.png">Drake</option>
                    <option value="img/Gast.png">Gast</option>
                    <option value="img/Grip.png">Grip</option>
                    <option value="img/Harpya.png">Harpya</option>
                    <option value="img/Jätte.png">Jätte</option>
                    <option value="img/Jättespindel.png">Jättespindel</option>
                    <option value="img/Mantikora.png">Mantikora</option>
                    <option value="img/Minotaur.png">Minotaur</option>
                    <option value="img/Orch.png">Orch</option>
                    <option value="img/Skelett.png">Skelett</option>
                    <option value="img/Spöke.png">Spöke</option>
                    <option value="img/Svartalf.png">Svartalf</option>
                    <option value="img/Troll.png">Troll</option>
                </select>
            </div>

            <img id="selectedImage" alt="Selected Image">

        </article>
    </section>

    <script>
        // JavaScript code to handle image changes
        function changeImage() {
            var select = document.getElementById("monsterSelect");
            var selectedImage = document.getElementById("selectedImage");

            // Get the selected option value
            var selectedOptionValue = select.options[select.selectedIndex].value;

            // Set the image source based on the selected option
            selectedImage.src = selectedOptionValue;
        }
    </script>

</body>