@page
@model DM_SHEET.Pages.SLP.IndexModel
@{
    ViewData["Title"] = "DM Screen";
}
<link rel="stylesheet" href="~/css/site.css">

<body>
    <section>
        <article>
            <!-- content for panel 2 here -->
            <h2>Spelledar Personer</h2>

            <ul class="columns" id="even">
                <li>Typ</li>
                <li>Färdigheter</li>
                <li>Hjälteförmågor</li>
                <li>Skadebonus</li>
                <li>KP</li>
                <li>Utrustning</li>
            </ul>

            <ul class="row" id="odd">
                <li>Vakt</li>
                <li>Svärd 12, Upptäcka fara 10</li>
                <li>-</li>
                <li>STY +T4</li>
                <li>12</li>
                <li>Bredsvärd, Nitläder</li>
            </ul>

            <ul class="row" id="even">
                <li>Kultist</li>
                <li>Kniv 14, Undvika 14</li>
                <li>-</li>
                <li>SMI +T4</li>
                <li>12</li>
                <li>Dolk</li>
            </ul>

            <ul class="row" id="odd">
                <li>Tjuv</li>
                <li>Kniv 12, Undvika 12</li>
                <li>-</li>
                <li>STY +T4</li>
                <li>10</li>
                <li>Kniv</li>
            </ul>

            <ul class="row" id="even">
                <li>Bybo</li>
                <li>Slagsmål 8</li>
                <li>-</li>
                <li>-</li>
                <li>8</li>
                <li>Tillhygge</li>
            </ul>

            <ul class="row" id="odd">
                <li>Jägare</li>
                <li>Pilbåge 13, Upptäcka fara 12</li>
                <li>-</li>
                <li>SMI +T4</li>
                <li>13</li>
                <li>Långbåge, Läder</li>
            </ul>

            <ul class="row" id="even">
                <li>Rövare</li>
                <li>Pilbåge 12, Svärd 12, Undvika 10</li>
                <li>-</li>
                <li>-</li>
                <li>12</li>
                <li>Kortsvärd, Kortbåge</li>
            </ul>

            <ul class="row" id="odd">
                <li>Äventyrare</li>
                <li>Svärd 12, Upptäcka fara 10</li>
                <li>-</li>
                <li>STY +T4</li>
                <li>13</li>
                <li>Bredsvärd, Nitläder</li>
            </ul>

            <ul class="row" id="even">
                <li>Lärd</li>
                <li>Främmande språk 13, Myter och legender 13, Stav 8</li>
                <li>-</li>
                <li>-</li>
                <li>7</li>
                <li>En god bok</li>
            </ul>

            <ul class="row" id="odd">
                <li>Rövarhövding (boss)</li>
                <li>Hammare 15, Slagsmål 15, Upptäcka fara 12</li>
                <li>Bärsärk, Tålig x 6, Stridsvana</li>
                <li>STY +T6</li>
                <li>30</li>
                <li>Tung stridshammare, Ringbrynja, Öppen hjälm</li>
            </ul>

            <ul class="row" id="even">
                <li>Rovriddare (boss)</li>
                <li>Slagsmål 14, Svärd 16</li>
                <li>Defensiv, Dubbelhubb, Fokuserad x 6, Tålig x 6</li>
                <li>STY +T6</li>
                <li>28</li>
                <li>Slagsvärd, Stor sköld, Plåtrustning, Tunnhjälm, Stridstränad häst</li>
            </ul>

            <ul class="row" id="odd">
                <li>Ärkemagiker (boss)</li>
                <li>Magiskola 15, Stav 13</li>
                <li>Fokuserad x 6, Mästerbesvärjare, Tålig x 4</li>
                <li>-</li>
                <li>22</li>
                <li>Stav, Formelsamling</li>
            </ul>

        </article>
    </section>
</body>