@page
@model DM_SHEET.Pages.Vanliga_Djur.IndexModel
@{
}
<link rel="stylesheet" href="~/css/site.css">

<body>
    <section>
        <article>
            <div id="vanligaDjurDiv">
                <img id="paw" src="/img/Hoof.png" />
                <h3>Vanliga Djur</h3>
                <img id="paw" src="/img/Paws.png" />
            </div>

            <ul class="columns" id="even">
                <li>Djur</li>
                <li>KP</li>
                <li>Attack</li>
                <li>Färdigheter</li>
            </ul>

            <ul class="row" id="odd">
                <li>Katt</li>
                <li>4</li>
                <li>Bett T3</li>
                <li>Smyga 16, Undvika 14, Upptäcka fara 12</li>
            </ul>

            <ul class="row" id="even">
                <li>Hund</li>
                <li>8</li>
                <li>Bett T8</li>
                <li>Undvika 10, Upptäcka fara 14</li>
            </ul>

            <ul class="row" id="odd">
                <li>Get</li>
                <li>6</li>
                <li>Horn T6</li>
                <li>Undvika 12, Upptäcka fara 10</li>
            </ul>

            <ul class="row" id="even">
                <li>Åsna</li>
                <li>12</li>
                <li>Spark T10</li>
                <li>Undvika 6, Upptäcka fara 10</li>
            </ul>

            <ul class="row" id="odd">
                <li>Häst</li>
                <li>16</li>
                <li>Spark 2T4</li>
                <li>Undvika 8, Upptäcka fara 12</li>
            </ul>

            <ul class="row" id="even">
                <li>Vildsvin</li>
                <li>14</li>
                <li>Betar 2T6</li>
                <li>Undvika 8, Upptäcka fara 10</li>
            </ul>

            <ul class="row" id="odd">
                <li>Hjort</li>
                <li>12</li>
                <li>Horn T8</li>
                <li>Undvika 12, Upptäcka fara 12</li>
            </ul>

            <ul class="row" id="even">
                <li>Älg</li>
                <li>18</li>
                <li>Horn 2T6</li>
                <li>Undvika 8, Upptäcka fara 10</li>
            </ul>

            <ul class="row" id="odd">
                <li>Räv</li>
                <li>6</li>
                <li>Bett T6</li>
                <li>Smyga 14, Undvika 10, Upptäcka fara 12</li>
            </ul>

            <ul class="row" id="even">
                <li>Varg</li>
                <li>10</li>
                <li>Bett 2T6</li>
                <li>Smyga 14, Undvika 12, Upptäcka fara 14</li>
            </ul>

            <ul class="row" id="odd">
                <li>Björn</li>
                <li>20</li>
                <li>Bett 2T8</li>
                <li>SUndvika 8, Upptäcka fara 10</li>
            </ul>
        </article>
        <article>

            <div class="t6TärningJakt">
                <img class="t6Jakt" src="/img/D6.png" onclick="generateRandomNumberSix()" />
                <p id="tärningsKast6Jakt" onclick="generateRandomNumberSix()">1</p>
                <h2>Jakt</h2>
                <img id="paw" src="/img/bow-icon.png" />
            </div>

            <ul class="columns" id="even">
                <li>T6</li>
                <li>Djur</li>
                <li>Krav</li>
                <li>Ransoner</li>
            </ul>

            <ul class="row" id="odd">
                <li>1</li>
                <li>Sork</li>
                <li>Vapen/fälla</li>
                <li>1</li>
            </ul>

            <ul class="row" id="even">
                <li>2</li>
                <li>Kråka</li>
                <li>Vapen</li>
                <li>1</li>
            </ul>

            <ul class="row" id="odd">
                <li>3</li>
                <li>Vild Kanin</li>
                <li>Vapen/fälla</li>
                <li>T3</li>
            </ul>

            <ul class="row" id="even">
                <li>4</li>
                <li>Räv</li>
                <li>Vapen/fälla</li>
                <li>T4</li>
            </ul>

            <ul class="row" id="odd">
                <li>5</li>
                <li>Vildsvin</li>
                <li>Vapen</li>
                <li>2T6</li>
            </ul>

            <ul class="row" id="even">
                <li>6</li>
                <li>Hjort</li>
                <li>Vapen</li>
                <li>2T8</li>
            </ul>

            <p class="tip">*Vildsvin går till attack vid misslyckad jakt*</p>

        </article>
    </section>
    <script>
        function generateRandomNumberSix() {
            // Generate a random number between 1 and 20
            var randomNumber = Math.floor(Math.random() * 6) + 1;

            // Update the content of the <p> element with the generated number
            document.getElementById("tärningsKast6Jakt").innerText = randomNumber;
        }
    </script>
</body>