@page
@model IndexModel
@inject DM_SHEET.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/site.css">

<head>
    <title>DM Screen</title>
</head>
<body>
    <section id="strid">

        <article id="svåraskador">

            <div class="t20Tärning">
                <img class="t20" src="/img/D20.png" onclick="generateRandomNumberTwenty()" />
                <p id="tärningsKast20" onclick="generateRandomNumberTwenty()">1</p>
                <h2>Svåraskador</h2>
            </div>

            <ul class="columns" id="even">
                <li>T20</li>
                <li>Skada</li>
                <li>Effekt</li>
            </ul>

            <ul class="row" id="odd">
                <li>1-2</li>
                <li>Bruten näsa</li>
                <li>Nackdel på slag mot UPPTÄCKA FARA. Läkningstid: T6 dygn.</li>
            </ul>

            <ul class="row" id="even">
                <li>3-4</li>
                <li>Slår i ansiktet</li>
                <li>Nackdel på slag mot ÖVERTALA och UPPTRÄDA. Läkningstid: 2T6 dygn.</li>
            </ul>

            <ul class="row" id="odd">
                <li>5-6</li>
                <li>Utslagna tänder</li>
                <li>FV i ÖVERTALA och UPPTRÄDA sänks permanent med 2 (lägst 3).</li>
            </ul>

            <ul class="row" id="even">
                <li>7-8</li>
                <li>Knäckta revben</li>
                <li>Du får nackdel på alla slag mot färdigheter som baseras på STY och SMI. Läkningstid: T6 dygn.</li>
            </ul>

            <ul class="row" id="odd">
                <li>9-10</li>
                <li>Hjärnskakning</li>
                <li>Du får nackdel på alla slag mot färdigheter som baseras på INT. Läkningstid: T6 dygn.</li>
            </ul>

            <ul class="row" id="even">
                <li>11-12</li>
                <li>Djupa sår</li>
                <li>Du får nackdel på alla slag mot färdigheter som baseras på STY och SMI, och varje slag mot en sådan färdighet ger dig T6 i skada. Läkningstid. 2T6 dygn.</li>
            </ul>

            <ul class="row" id="odd">
                <li>13</li>
                <li>Brutet ben</li>
                <li>Halverad förflyttningsförmåga. Läkningstid: 3T6 dygn.</li>
            </ul>

            <ul class="row" id="even">
                <li>14</li>
                <li>Bruten arm</li>
                <li>Tvåhandsvapen och två vapen kan ej brukas. Nackdel på andra handlingar fär båda armarna används, till exempel klättring. Läkningstid: 3T6 dygn.</li>
            </ul>

            <ul class="row" id="odd">
                <li>15</li>
                <li>Kapad tå</li>
                <li>Förflyttningsförmåga sänks permanent med 2 (lägst 4).</li>
            </ul>

            <ul class="row" id="even">
                <li>16</li>
                <li>Kapat finger</li>
                <li>FV i alla vapenfärdigheter sänks permanent med 1 (lägst 3).</li>
            </ul>

            <ul class="row" id="odd">
                <li>17</li>
                <li>Mosat öga</li>
                <li>FV i FINNA DOLDA TING sänks med permanent med 2 (lägst 3).</li>
            </ul>

            <ul class="row" id="even">
                <li>18</li>
                <li>Mardrömmar</li>
                <li>Slå för att motstå skräck varje skift du sover. Om du misslyckas räknas skiftet inte som sömn. Läkningstis: 2T6 dygn.</li>
            </ul>

            <ul class="row" id="odd">
                <li>19</li>
                <li>Personlighetsförändring</li>
                <li>Slumpa fram en ny svaghet.</li>
            </ul>

            <ul class="row" id="even">
                <li>20</li>
                <li>Minnesförlust</li>
                <li>Du minns inte längre vem du eller de andra rollpersonerna är. Effekten måste rollspelas. Läkningstid: T6 dygn.</li>
            </ul>

        </article>

        <article id="drak-demonslag">
            <div id="drakDemonDiv">
                <img id="drakIcon" src="/img/Dragon_Icon.png"/>
                <h2>Drak/Demonslag</h2>
                <img id="demonIcon" src="/img/Demon_Icon.png"/>
            </div>

            <div>
                <div id="drakDiv">
                    <h3>Drakslag</h3>
                    <img id="drakIcon2" src="/img/Dragon_Icon.png" />
                </div>

                <p>Om du slår en etta (1) på din T20 lyckas du särskilt väl med din handling. Detta kallas ett drakslag. I strid har darakslag särskilda effekter, till exempel att en attack gör mer skada. Utanför stid avgör SL effekten av ett drakslag</p>
                <p>Här är några förslag:</p>
                <ul>
                    <li>Du imponerar på alla omkring dig.</li>
                    <li>Du uppnår något mer än du tänkt dig.</li>
                    <li>Handlingen går fortare än normalt.</li>
                </ul>
            </div>

            <div>
                <div id="demonDiv">
                    <h3>Demonslag</h3>
                    <img id="demonIcon2" src="/img/Demon_Icon.png" />
                </div>

                <p>Att slå 20 på din T20 kallas demonslag och innebär att slaget misslyckas oavsett ditt FV och andra omständigheter. Om du slår ett demonslag kan slaget inte pressas. Demonslag kan även ha ytterligare negativa effekter i strid och besvärjande. Utanför strid kan SL exempelvis låta ett demonslag innebära följande:</p>
                <ul>
                    <li>Du skadar dig själv, en annan person eller ett föremål.</li>
                    <li>Du gör bort dig inför alla omkring dig.</li>
                    <li>Du ställer till med ett väldigt oväsen.</li>
                </ul>
            </div>

            <section>
                <div id="demonNärstrid">
                    <div class="t6Tärning">
                        <img class="t6" src="/img/D6.png" onclick="generateRandomNumberSix()" />
                        <p id="tärningsKast6" onclick="generateRandomNumberSix()">1</p>
                        <h3>Demonslag i närstrid</h3>
                    </div>

                    <ul class="columns" id="even">
                        <li>T6</li>
                        <li>Effekt</li>
                    </ul>

                    <ul class="row" id="odd">
                        <li>1.</li>
                        <li>Du tappar ditt vapen vid dina fötter. Att plocka upp det är en handling.</li>
                    </ul>

                    <ul class="row" id="even">
                        <li>2.</li>
                        <li>Du blottar dig för fienden. Som får ett gratis frislag som du inte kan ducka eller parera.</li>
                    </ul>

                    <ul class="row" id="odd">
                        <li>3.</li>
                        <li>Du hugger vapnet så djupt i något föremål att det fastnar. Att dra loss det kräver ett slag mot STY.</li>
                    </ul>

                    <ul class="row" id="even">
                        <li>4.</li>
                        <li>Du hystar i väg ditt vapen T3+3 meter bort. För att plocka upp det måste du förflytta dig och sedan utföra en handling.</li>
                    </ul>

                    <ul class="row" id="odd">
                        <li>5.</li>
                        <li>Du slår vapnet i något hårt och skadar det. All användning av vapnet får en nackdel tills det reparerats av en hantverkare.</li>
                    </ul>

                    <ul class="row" id="even">
                        <li>6.</li>
                        <li>Du hugger dig själv av misstag. Slå skada normalt men utan skadebonus.</li>
                    </ul>

                </div>

                <div id="demonAvstånd">

                    <div class="t6Tärning">
                        <img class="t6" src="/img/D6.png" onclick="generateRandomNumberSixAvstånd()" />
                        <p id="tärningsKast6Avstånd" onclick="generateRandomNumberSixAvstånd()">1</p>
                        <h3>Demonslag i avståndsstrid</h3>
                    </div>

                    <ul class="columns" id="even">
                        <li>T6</li>
                        <li>Effekt</li>
                    </ul>

                    <ul class="row" id="odd">
                        <li>1.</li>
                        <li>Du tappar vapnet vid dina fötter. att plocka upp det är en handling.</li>
                    </ul>

                    <ul class="row" id="even">
                        <li>2.</li>
                        <li>Du har slut på pilar och måste skaffa fler innan du kan använda vapnet igen. Slå om för slunga eller kastvapen.</li>
                    </ul>

                    <ul class="row" id="odd">
                        <li>3.</li>
                        <li>Du träffar något värdefullt eller viktikt föremål i närheten. SL väljer vad det är.</li>
                    </ul>

                    <ul class="row" id="even">
                        <li>4.</li>
                        <li>Du har sönder ditt vapen. All användning av det får en nackdel till det reparerats av en hantverkare.</li>
                    </ul>

                    <ul class="row" id="odd">
                        <li>5.</li>
                        <li>Du träffar av misstag en annan rollperson eller vänligt inställd SLP. Slumpa fram vem och slå skada normalt, inklusive skadebonus.</li>
                    </ul>

                    <ul class="row" id="even">
                        <li>6.</li>
                        <li>Du träffar dig själv av misstag. Slå skada normalt men utan skadebonus.</li>
                    </ul>

                </div>
            </section>

        </article>

        <article id="kritiskträff">

            <div>
                <div id="liggandeMålDiv">
                    <h3>Liggande mål</h3>
                    <img id="target" src="/img/target.png" />
                </div>
                <p>Om du står upp men din fiende ligger på marken får du en fördel på attacken, och träffar gör T6 extra i skada.</p>
            </div>

            <div>
                <div id="kritiskSvärdDiv">
                    <h3>Kritisk träff</h3>
                    <img id="kritiskSvärd" src="/img/CritSword.png"/>
                </div>

                <p>Om du slår ett drakslag när du anfaller får du in en kritiskträff. Det innebär att det krävs ett drakslag för att parera attacken eller ducka, samt att du får välja en av nedanstående effekter:</p>
                <ul id="kritiskträff-effekter">
                    <li>Slå dubbla antalet tärningar för vapnets skada, före skadebonus och andra bonusar.</li>
                    <li>Du får omedelbart utföra en ytterligare attack mot en annan fiende. Denna extra attack är en fri handling.</li>
                    <li>Rustning och naturligt skydd har ingen effekt mot attacken, då den träffar en glipa. Kan bara väljas om attacken ger stickskada.</li>
                </ul>
            </div>
        </article>

        <article id="skräckTabellen">

            <div class="t8Tärning">
                <img class="t8" src="/img/D8.png" onclick="generateRandomNumberEight()" />
                <p id="tärningsKast8" onclick="generateRandomNumberEight()">1</p>
                <h2>Skräcktabellen</h2>
            </div>

            <ul class="columns" id="even">
                <li>T8</li>
                <li>Effekt</li>
            </ul>

            <ul class="row" id="odd">
                <li>1</li>
                <li>Kraftlös | Fasan tömmer dig på kraft och förlorar 2T6 PSY.</li>
            </ul>

            <ul class="row" id="even">
                <li>2</li>
                <li>Skakis | Du får tillståndet RÄDD.</li>
            </ul>

            <ul class="row" id="odd">
                <li>3</li>
                <li>Flämtar | Fasan gör dig så skrickslagen att du börjar andas kraftigt och blir UTMATTAD.</li>
            </ul>

            <ul class="row" id="even">
                <li>4</li>
                <li>Blek | Du blir vit som ett lakan i ansiktet. Du själv och alla andra rollspelare inom 10 meter av dig blir RÄDDA.</li>
            </ul>

            <ul class="row" id="odd">
                <li>5</li>
                <li>Skrik | Du skriker till av fasa, och förlorar 2 PSY.</li>
            </ul>

            <ul class="row" id="even">
                <li>6</li>
                <li>Vredesmod | Din skräck förvandlas till vrede, och du måste angripa källan till skräcken på din nästa tur, i närstrid om möjligt. Du blir också ARG.</li>
            </ul>

            <ul class="row" id="odd">
                <li>7</li>
                <li>Paralyserad | Du stelnar av skräck och blir oförmögen att röra dig ur fläcken. Slå mot PSY igen inför varje påföljande tur (Ingen handling) för att bryta förlamningen.</li>
            </ul>

            <ul class="row" id="even">
                <li>8</li>
                <li>Vild Panik | I ett utbrott av total panik flyr du från platsen i högsta fart och gömmer dig. Slå mot PSY igen inför varje påföljande tur (Ingen handling) för att sluta gömma dig och agera normalt igen. </li>
            </ul>

        </article>

    </section>
    <script>
        function generateRandomNumberTwenty() {
            // Generate a random number between 1 and 20
            var randomNumber = Math.floor(Math.random() * 20) + 1;

            // Update the content of the <p> element with the generated number
            document.getElementById("tärningsKast20").innerText = randomNumber;
        }

        function generateRandomNumberSix() {
            // Generate a random number between 1 and 20
            var randomNumber = Math.floor(Math.random() * 6) + 1;

            // Update the content of the <p> element with the generated number
            document.getElementById("tärningsKast6").innerText = randomNumber;
        }

        function generateRandomNumberSixAvstånd() {
            // Generate a random number between 1 and 20
            var randomNumber = Math.floor(Math.random() * 6) + 1;

            // Update the content of the <p> element with the generated number
            document.getElementById("tärningsKast6Avstånd").innerText = randomNumber;
        }

        function generateRandomNumberEight() {
            // Generate a random number between 1 and 20
            var randomNumber = Math.floor(Math.random() * 8) + 1;

            // Update the content of the <p> element with the generated number
            document.getElementById("tärningsKast8").innerText = randomNumber;
        }
    </script>
</body>