body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #16373c;
}

article {
    background: #d1ccd2;
}

ul {
    list-style: none;
    padding: 0;
}

h2 {
    padding: 10px;
    text-align: center;
}

.columns, .row {
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

#odd {
    background: #c6bcbb;
}

#even {
    background: #d1ccd2;
}

#strid {
    display: grid;
    grid-template:
    "a b"
    "c b"
    "d d" ;
}

#kritiskträff {
    grid-area: a;
}

#drak-demonslag {
    grid-area: b;
}

#svåraskador {
    grid-area: c;
}

#skräckTabellen {
    grid-area: d;
}

.dm-menu {
    display: flex;
    justify-content: space-around;
}

.tip {
    padding-left: 8rem;
    color: red;
    text-align: center;
}

#selectedImage {
    width: 1000px;
    height: auto;
    margin-top: 10px;
}

#monsterSelect {
    text-align: center;
}

#monster {
    display: block;
    text-align: center;
}

.columns li, .row li {
    flex: 1;
    text-align: center;
    margin: 0;
    padding: 5px;
    border: 0.5px solid black;
}

header {
    background: #143035;
    color: #fff;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

#menuToggleLabel {
    display: block;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    color: white;
}

#pageList {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.575);
}

#pageList li {
    padding: 10px;
    margin: auto;
    text-decoration: none;
}

#pageList li:hover {
    font-size: 17px;
}

#pageList a {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
    font-size: larger;
}

#pageList a:visited {
    color: white;
}

#logoContainer {
    justify-content: center;
    background-color: #0e2225;
    padding: 10px;
    padding-bottom: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.596);
}

#logoContainer img {
    width: 200px;
    height: auto;
    margin: auto;
    display: block;
}

#återhämtning {
    text-align: center;
}

section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

article {
    flex: 1;
    background: #d1ccd2;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

#monsterArticle {
    flex: 0;
}

.karaktärer {
    display: flex;
    border-bottom: 0.5px solid black;
}

.beskrivning {
    display: block;
}

.karaktärerImg {
    width: fit-content;
}

#karta {
    width: 100%;
}

.t20Tärning {
    position: relative;
    display: flex;
    justify-content: center;
}

.t20 {
    width: 5%;
    height: 5%;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

#tärningsKast20 {
    position: absolute;
    top: 35%; /* Adjust the percentage based on your design */
    left: 40.6%; /* Adjust the percentage based on your design */
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;
    font-size: small;
}

.t6Tärning {
    position: relative;
    display: flex;
    justify-content: center;
}

.t6 {
    width: 10%;
    height: 10%;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

#tärningsKast6 {
    position: absolute;
    top: 17%; /* Adjust the percentage based on your design */
    left: 27%; /* Adjust the percentage based on your design */
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;
    font-size: small;
}

#tärningsKast6Avstånd {
    position: absolute;
    top: 17%; /* Adjust the percentage based on your design */
    left: 23%; /* Adjust the percentage based on your design */
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;
    font-size: small;
}

.t8Tärning {
    position: relative;
    display: flex;
    justify-content: center;
}

.t8 {
    width: 3%;
    height: 3%;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

#tärningsKast8 {
    position: absolute;
    top: 24%; /* Adjust the percentage based on your design */
    left: 44.8%; /* Adjust the percentage based on your design */
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;
    font-size: small;
}

.t6TärningJakt {
    position: relative;
    display: flex;
    justify-content: center;
}

.t6Jakt {
    width: 4%;
    height: 4%;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

#tärningsKast6Jakt {
    position: absolute;
    top: 27%; /* Adjust the percentage based on your design */
    left: 43%; /* Adjust the percentage based on your design */
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;
    font-size: small;
}

.t8EncountersDiv {
    position: relative;
    display: flex;
    justify-content: center;
}

.t8Encounters {
    width: 5%;
    height: 5%;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

#encountersTärning {
    position: absolute;
    top: 27%; /* Adjust the percentage based on your design */
    left: 40.4%; /* Adjust the percentage based on your design */
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;
    font-size: small;
}

#encountersTärning1 {
    position: absolute;
    top: 25%; /* Adjust the percentage based on your design */
    left: 40.4%; /* Adjust the percentage based on your design */
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;
    font-size: small;
}

#encountersTärning2 {
    position: absolute;
    top: 25%; /* Adjust the percentage based on your design */
    left: 40.4%; /* Adjust the percentage based on your design */
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;
    font-size: small;
}

#drakDemonDiv {
    justify-content: center;
    display: flex;
}

#drakIcon {
    width: 5%;
    height: 5%;
    margin-top: auto;
    margin-bottom: auto;
}

#demonIcon {
    width: 5%;
    height: 5%;
    margin-top: auto;
    margin-bottom: auto;
}

#drakDiv {
    display: flex;
}

#drakIcon2 {
    width: 3%;
    height: 3%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
}

#demonDiv {
    display: flex;
}

#demonIcon2 {
    width: 3%;
    height: 3%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
}

.encounterArticle {
    flex: none;
}

#kritiskSvärdDiv {
    display: flex;
}

#kritiskSvärd {
    width: 4%;
    height: 4%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
}

#liggandeMålDiv {
    display: flex;
}

#target {
    width: 4%;
    height: 4%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
}

#vanligaDjurDiv {
    display: flex;
    justify-content: center;
}

#paw {
    width: 4%;
    height: 4%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
}

#återhämtningSec {
    display: grid;
    grid-template:
    "a a"
    "b c"
    "d e" ;
}

#återhämtning {
    grid-area: a;
}

#snabbVila {
    grid-area: b;
}

#kortVila {
    grid-area: c;
}

#långVila {
    grid-area: d;
}

#magi {
    grid-area: e;
}

#återhämtningDiv {
    display: flex;
    justify-content: center;
}

.health {
    width: 2%;
    height: 2%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
}

#dod {
    background-image: url('/img/dod.png'); /* Replace 'path/to/your/image.jpg' with the actual path to your image file */
    background-size: cover; /* Ensures the background image covers the entire container */ /* Centers the background image */
    background-repeat: no-repeat;
}

#dodText {
    color: white;
    font-size: 8rem;
    cursor: default;
    text-align: center;
    padding-top: 10rem;
    -webkit-text-stroke: 5px black; /* WebKit/Blink browsers */
}

#tree {
    width: 6%;
    height: 6%;
    margin-top: auto;
    margin-bottom: auto;
}

#encounterSec {
    display: grid;
}