@page
@model DM_SHEET.Pages.Encounters.IndexModel
@{
    ViewData["Title"] = "DM Screen";
}
<link rel="stylesheet" href="~/css/site.css">

<body>
    <section id="encounterSec">

        <article class="encounterArticle">
            <div class="t8EncountersDiv">
                <img class="t8Encounters" src="/img/D8.png" onclick="generateRandomNumberEight()" />
                <p id="encountersTärning" onclick="generateRandomNumberEight()">1</p>
                <h2>Encounters</h2>
                <img id="tree" src="/img/Tree.png"/>
            </div>

            <div>
                <h3>T8</h3>
                <p>1. En T4 vanliga djur attackerar gruppen.</p>
                <p>2. En man med tanke att råna gruppen om han inte får mynt.</p>
                <p>3. Ett sovandes troll blockerar vägen.</p>
                <p>4. En mystisk kvinna som försöker sälja självklart stulna föremål.</p>
                <p>5. Gruppen blir attackerade av banditer.</p>
                <p>6. Någon i gruppen skadas av fallande sten eller träd.</p>
                <p>7. Gruppen snubblar över en mystisk kista med SL valda konsekvenser.</p>
                <p>8. En björn attackerar gruppen när som helst.</p>
            </div>

        </article>

        <article class="encounterArticle1">
            <div class="t8EncountersDiv">
                <img class="t8Encounters" src="/img/D8.png" onclick="generateRandomNumberEight1()" />
                <p id="encountersTärning1" onclick="generateRandomNumberEight()">1</p>
                <h2>Encounters</h2>
                <img id="tree" src="/img/Rock.png" />
            </div>

            <div>
                <h3>T8</h3>
                <p>1. En T4 vanliga djur attackerar gruppen.</p>
                <p>2. En man med tanke att råna gruppen om han inte får mynt.</p>
                <p>3. Ett sovandes troll blockerar vägen.</p>
                <p>4. En mystisk kvinna som försöker sälja självklart stulna föremål.</p>
                <p>5. Gruppen blir attackerade av banditer.</p>
                <p>6. Någon i gruppen skadas av fallande sten eller träd.</p>
                <p>7. Gruppen snubblar över en mystisk kista med SL valda konsekvenser.</p>
                <p>8. En griffin flyger runt i området som kan attackera när som helst.</p>
            </div>

        </article>

        <article class="encounterArticle2">
            <div class="t8EncountersDiv">
                <img class="t8Encounters" src="/img/D8.png" onclick="generateRandomNumberEight2()" />
                <p id="encountersTärning2" onclick="generateRandomNumberEight()">1</p>
                <h2>Encounters</h2>
                <img id="tree" src="/img/House.png" />
            </div>

            <div>
                <h3>T8</h3>
                <p>1. En T4 vanliga djur attackerar gruppen.</p>
                <p>2. En man med tanke att råna gruppen om han inte får mynt.</p>
                <p>3. Ett sovandes troll blockerar vägen.</p>
                <p>4. En mystisk kvinna som försöker sälja självklart stulna föremål.</p>
                <p>5. Gruppen blir attackerade av banditer.</p>
                <p>6. Någon i gruppen skadas av fallande sten eller träd.</p>
                <p>7. Gruppen snubblar över en mystisk kista med SL valda konsekvenser.</p>
                <p>8. En griffin flyger runt i området som kan attackera när som helst.</p>
            </div>

        </article>

    </section>
    <script>
        function generateRandomNumberEight() {
            // Generate a random number between 1 and 20
            var randomNumber = Math.floor(Math.random() * 8) + 1;

            // Update the content of the <p> element with the generated number
            document.getElementById("encountersTärning").innerText = randomNumber;
        }
        function generateRandomNumberEight1() {
            // Generate a random number between 1 and 20
            var randomNumber = Math.floor(Math.random() * 8) + 1;

            // Update the content of the <p> element with the generated number
            document.getElementById("encountersTärning1").innerText = randomNumber;
        }
        function generateRandomNumberEight2() {
            // Generate a random number between 1 and 20
            var randomNumber = Math.floor(Math.random() * 8) + 1;

            // Update the content of the <p> element with the generated number
            document.getElementById("encountersTärning2").innerText = randomNumber;
        }
    </script>
</body>