@page
@model DM_SHEET.Pages.Karta.IndexModel
@{
    ViewData["Title"] = "DM Screen";
}
<link rel="stylesheet" href="~/css/site.css">

<body>
    <section>
        <article>

            <h2>Karta</h2>

            <img id="karta" src="/img/World_Map.png"/>

        </article>
    </section>
</body>