@page
@model DM_SHEET.Pages.Utrustning.IndexModel
@{
    ViewData["Title"] = "DM Screen";
}
<link rel="stylesheet" href="~/css/site.css">

<body>
    <section>
        <article>
            <!-- content for panel 1 here -->
            <h2>Närstridsvapen</h2>

            <ul class="columns" id="even">
                <li>Vapen</li>
                <li>Grepp</li>
                <li>Skada</li>
                <li>Pris</li>
            </ul>

            <ul class="row" id="odd">
                <li>Obeväpnad</li>
                <li>-</li>
                <li>T6</li>
                <li>-</li>
            </ul>

            <ul class="row" id="even">
                <li>Tillhygge lätt</li>
                <li>1H</li>
                <li>T8</li>
                <li>-</li>
            </ul>

            <ul class="row" id="odd">
                <li>Tillhygge tungt</li>
                <li>2H</li>
                <li>2T8</li>
                <li>-</li>
            </ul>

            <ul class="row" id="even">
                <li>Kniv</li>
                <li>1H</li>
                <li>T8</li>
                <li>5 S</li>
            </ul>

            <ul class="row" id="odd">
                <li>Dolk</li>
                <li>1H</li>
                <li>T8</li>
                <li>1 G</li>
            </ul>

            <ul class="row" id="even">
                <li>Parerdolk</li>
                <li>1H</li>
                <li>1T6</li>
                <li>2 G</li>
            </ul>

            <ul class="row" id="odd">
                <li>Kortsvärd</li>
                <li>1H</li>
                <li>T10</li>
                <li>8 G</li>
            </ul>

            <ul class="row" id="even">
                <li>Bredsvärd</li>
                <li>1H</li>
                <li>2T6</li>
                <li>12 G</li>
            </ul>

            <ul class="row" id="odd">
                <li>Slagsvärd</li>
                <li>1H</li>
                <li>2T8</li>
                <li>25 G</li>
            </ul>

            <ul class="row" id="even">
                <li>Tvåhandssvärd</li>
                <li>2H</li>
                <li>2T10</li>
                <li>50 G</li>
            </ul>

            <ul class="row" id="odd">
                <li>Kroksabel</li>
                <li>1H</li>
                <li>2T6</li>
                <li>10 G</li>
            </ul>

            <ul class="row" id="even">
                <li>Handyxa</li>
                <li>1H</li>
                <li>2T6</li>
                <li>2 G</li>
            </ul>

            <ul class="row" id="odd">
                <li>Stridsyxa</li>
                <li>1H</li>
                <li>2T8</li>
                <li>10 G</li>
            </ul>

            <ul class="row" id="even">
                <li>Tvåhandsyxa</li>
                <li>2H</li>
                <li>2T10</li>
                <li>25 G</li>
            </ul>

            <ul class="row" id="odd">
                <li>Stridsklubba</li>
                <li>1H</li>
                <li>2T4</li>
                <li>8 G</li>
            </ul>

            <ul class="row" id="even">
                <li>Morgonstjärna</li>
                <li>1H</li>
                <li>2T8</li>
                <li>14 G</li>
            </ul>

            <ul class="row" id="odd">
                <li>Stridsgissel</li>
                <li>1H</li>
                <li>2T8</li>
                <li>16 G</li>
            </ul>

            <ul class="row" id="even">
                <li>Stridshammare, lätt</li>
                <li>1H</li>
                <li>2T6</li>
                <li>10 G</li>
            </ul>

            <ul class="row" id="odd">
                <li>Stridshammare, tung</li>
                <li>2H</li>
                <li>2T10</li>
                <li>20 G</li>
            </ul>

            <ul class="row" id="even">
                <li>Träklubba, liten</li>
                <li>1H</li>
                <li>T8</li>
                <li>1 S</li>
            </ul>

            <ul class="row" id="odd">
                <li>Träklubba, stor</li>
                <li>2H</li>
                <li>2T8</li>
                <li>2 S</li>
            </ul>

            <ul class="row" id="even">
                <li>Trästav</li>
                <li>2H</li>
                <li>T8</li>
                <li>2 S</li>
            </ul>

            <ul class="row" id="odd">
                <li>Kortspjut</li>
                <li>2H</li>
                <li>2T8</li>
                <li>5 S</li>
            </ul>

            <ul class="row" id="even">
                <li>Långspjut</li>
                <li>2H</li>
                <li>2T8</li>
                <li>1 G</li>
            </ul>

            <ul class="row" id="odd">
                <li>Lans</li>
                <li>1H</li>
                <li>2T10</li>
                <li>12 G</li>
            </ul>

            <ul class="row" id="even">
                <li>Hillebard</li>
                <li>2H</li>
                <li>2T8</li>
                <li>20 G</li>
            </ul>

            <ul class="row" id="odd">
                <li>Treudd</li>
                <li>1H</li>
                <li>2T6</li>
                <li>5 G</li>
            </ul>

            <ul class="row" id="even">
                <li>Sköld, lite</li>
                <li>1H</li>
                <li>T8</li>
                <li>4 G</li>
            </ul>

            <ul class="row" id="odd">
                <li>Sköld, stor</li>
                <li>1H</li>
                <li>T8</li>
                <li>12 G</li>
            </ul>

        </article>

        <article>
            <!-- content for panel 1 here -->
            <h2>Avståndsvapen</h2>

            <ul class="columns" id="even">
                <li>Vapen</li>
                <li>Grepp</li>
                <li>Skada</li>
                <li>Pris</li>
            </ul>

            <ul class="row" id="odd">
                <li>Slunga</li>
                <li>1H</li>
                <li>T8</li>
                <li>1 S</li>
            </ul>

            <ul class="row" id="even">
                <li>Kortbåge</li>
                <li>2H</li>
                <li>T10</li>
                <li>25 G</li>
            </ul>

            <ul class="row" id="odd">
                <li>Långbåge</li>
                <li>2H</li>
                <li>T12</li>
                <li>50 G</li>
            </ul>

            <ul class="row" id="even">
                <li>Armborst, lätt</li>
                <li>2H</li>
                <li>2T6</li>
                <li>75 G</li>
            </ul>

            <ul class="row" id="odd">
                <li>Armborst, tungt</li>
                <li>2H</li>
                <li>2T8</li>
                <li>200 G</li>
            </ul>

            <ul class="row" id="even">
                <li>Armborst, hand</li>
                <li>1H</li>
                <li>2T6</li>
                <li>90 G</li>
            </ul>

        </article>

        <article>
            <!-- content for panel 1 here -->
            <h2>Kläder</h2>

            <ul class="columns" id="even">
                <li>Plagg</li>
                <li>Tillgång</li>
                <li>Effekt</li>
                <li>Pris</li>
            </ul>

            <ul class="row" id="odd">
                <li>Enkel klädedräkt</li>
                <li>Vanlig</li>
                <li>Krävs för att slippa nackdel i KAR-färdigheter</li>
                <li>5 S</li>
            </ul>

            <ul class="row" id="even">
                <li>Klädtrasor</li>
                <li>Vanlig</li>
                <li>Nackdel i KAR-färdigheter</li>
                <li>5 K</li>
            </ul>

            <ul class="row" id="odd">
                <li>Mantel</li>
                <li>Ovanlig</li>
                <li>-</li>
                <li>8 S</li>
            </ul>

            <ul class="row" id="even">
                <li>Päls</li>
                <li>Ovanlig</li>
                <li>Fördel i VILDMAKRSVANA</li>
                <li>1 G</li>
            </ul>

            <ul class="row" id="odd">
                <li>RikeMansklädsel</li>
                <li>Ovanlig</li>
                <li>Fördel i KAR-färdigheter</li>
                <li>10 G</li>
            </ul>

            <ul class="row" id="even">
                <li>Stövlar</li>
                <li>Ovanlig</li>
                <li>-</li>
                <li>2 G</li>
            </ul>

        </article>

    </section>
</body>